@use "../../mixin.scss";

.navHeader {
    position: sticky;
    top: 0;
    left: 0;
    background-color: mixin.$secondary-color;
    padding: 15px 0;
    z-index: 100;
}

.headerWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logoWrapper {
    display: flex;
    align-items: center;
    gap: 8px;
    img {
        width: 50px;
        height: 50px;
    }
    a {
        color: whitesmoke;
        font-family: "Russo One", sans-serif;
        font-size: 26px;
        text-decoration: none;
        filter: drop-shadow(0 0 0.75rem rgba(255, 255, 255, 0.6));
        span {
            color: mixin.$accent-color;
            font-size: 34px;
        }
    }
}

.mainNavigation {
    .navList {
        display: flex;
        list-style-type: none;
        margin: 0;
        gap: 15px 30px;
        &:hover a {
            opacity: 0.5;
        }
        &:hover a:hover {
            opacity: 1;
        }
    }
}
