.titleBtnWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.addBtn {
  padding: 10px;
  background-color: #323232;
  box-shadow: 0px 0px 10px rgb(180 180 180 / 30%);
  border-radius: 8px;
  cursor: pointer;
}

.addBtn:hover {
  background-color: #bd0611;
  scale: 1.05;

}

.addBtn a {
  color: whitesmoke;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}

h1 {
  margin-top: 35px;
  margin-bottom: 35px;
  font-size: 32px;
  font-weight: 500;
  text-transform: uppercase;
}